In [7]:
import os
from dotenv import load_dotenv
import pandas as pd

In [4]:
# Change the current working directory to the pachage root
# That's step is due to the way settings.py is defined
ROOT_DIR = os.path.join(*os.path.split(os.getcwd())[:-1])
os.chdir(ROOT_DIR)
os.getcwd()

'/Users/luisrodrigues/Documents/Projects/PERSONAL/resume-worth'

In [25]:
conf_dir = os.path.join("conf")
conf_file = ".env"

data_dir = os.path.join("data", "01_raw")
data_file = "data_scientist_jobstreet_scraped_v2 2.csv"

res_dir = os.path.join("data", "02_processed")

In [10]:
# Load OpenAI API Key
# https://openai.com/pricing

conf_path = os.path.join(conf_dir, conf_file)

_ = load_dotenv(conf_path)

#API_KEY = os.getenv('API_KEY')

In [17]:
data_path = os.path.join(data_dir, data_file)

data_df = pd.read_csv(data_path, sep=",")

In [14]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    606 non-null    int64
 1   job_id        606 non-null    int64
 2   job_title     606 non-null    object
 3   company       606 non-null    object
 4   descriptions  588 non-null    object
 5   location      606 non-null    object
 6   category      606 non-null    object
 7   subcategory   606 non-null    object
 8   type          606 non-null    object
 9   salary        198 non-null    object
dtypes: int64(2), object(8)
memory usage: 47.5+ KB

In [15]:
display(data_df.sample(n=5))

,Unnamed: 0,job_id,job_title,company,descriptions,location,category,subcategory,type,salary
578,578,72531370,ERP Analyst / Application Analyst,Amazon Papyrus (M) Sdn Bhd,"Based in Malaysia, Work from home arrangement\...",Kuala Lumpur,Information & Communication Technology,Business/Systems Analysts,Full time,NaN
220,220,72863386,Data Analysts/ Data Engineers (Bangsar South- ...,AG Staffing Malaysia,Data Collection and Analysis: Collaborate with...,Kuala Lumpur,Science & Technology,"Mathematics, Statistics & Information Sciences",Full time,"RM 8,000 – RM 12,000 per month"
259,259,72524223,Data Quality Analyst,Etiqa Insurance & Takaful,Diploma/Degree in IT related discipline\n (\nC...,Bangsar South,Information & Communication Technology,Database Development & Administration,Full time,NaN
93,93,72404595,Senior BI Developer,Hartalega NGC Sdn Bhd,Translate business needs to technical specific...,Petaling,Science & Technology,"Mathematics, Statistics & Information Sciences",Full time,NaN
472,472,72666855,IT System Analyst,Agensi Pekerjaan Randstad Sdn Bhd - Professional,At least 4 years of experience\nExposure withi...,Kuala Lumpur,Information & Communication Technology,Programme & Project Management,Full time,NaN

In [32]:
data_clean_df = data_df[['job_id', 'location', 'company', 'job_title', 'salary', 'descriptions']].dropna().drop_duplicates().copy()

In [33]:
len(data_clean_df)

32

In [42]:
data_clean_df.groupby('job_title')[['job_id']].count().reset_index().sort_values(by="job_id",ascending=False)

                                            job_title  job_id
4                                        Data Analyst       5
7                                       Data Engineer       4
0                     BI Developer - Immediate Hiring       1
14                              Intern - Data Science       1
23                                     System Analyst       1
22                         Scientist (Bioinformatics)       1
21                               RPA Manager (UiPath)       1
20             Principal Engineer, Automation Project       1
19                     MicroStrategy Developers (MNC)       1
18                             Manager, RPA Developer       1
17  Machine Learning Engineer (Artificial Intellig...       1
16                     Machine Learning Engineer (AI)       1
15                                Junior Data Analyst       1
12                    Head of Advanced Data Analytics       1
13                                IT Business Analyst       1
1                             BUSINESS SYSTEM ANALYST       1
11                                 ERP System Analyst       1
10                            E-commerce Data Analyst       1
9                        Database Administrator (DBA)       1
8                              Database Administrator       1
6   Data Analysts/ Data Engineers (Bangsar South- ...       1
5                              Data Analyst Executive       1
3                                        DATA ANALYST       1
2            Contract Business Administration Analyst       1
24                                System Analyst - IT       1

In [27]:
for index, row in data_clean_df.iterrows():
    
    job_vacancy = "LOCATION: {location} \nCOMPANY: {company} \nJOB TITLE: {job_title} \nSALARY: {salary} \nDESCRIPTION: {description}".format(
        location=row['location'],
        company=row['company'],
        job_title=row['job_title'],
        salary=row['salary'],
        description=row['descriptions']
    )

    res_file = "{job_id}.txt".format(job_id=row['job_id'])
    res_path = os.path.join(res_dir, res_file)
    
    with open(res_path,  'w') as f:
        f.write(job_vacancy)